@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Moon+Dance&family=Nunito:ital,wght@0,200;0,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

[data-aos] {
  opacity: 0;
  transition-property: opacity;
}

[data-aos].aos-animate {
  opacity: 1;
}

/* style.css */

/* Change the color of the scroll bar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #3e3632;
}

::-webkit-scrollbar-thumb {
  background-color: #7E6C61;
}


/*Header*/
.navbar {
  width: 100%;
  height: 80px;
  background-color: transparent;
  position: fixed !important;
  transition: all 0.5s ease-out 0s !important;
  padding: 0.8rem 3rem !important;
  font-size: 2rem !important;
}

.sticky {
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(35px) !important;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: #191919;
  height: 4px !important;
  width: 20px !important;
  margin-top: 3px !important;
  margin-bottom: 5px !important;
  margin-right: 2rem !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(2),
.navbar-toggler span:nth-child(3)
 {
  transition: transform 0.2s ease-in-out !important;
  transition: transform 0.2s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

.logo {
  background-image: url(./Homepage/logo-no-background.svg);
  background-size: cover;
  width: 59px;
  height: 50px;
}

.nav-link {
  color: #FFFFCC !important;
  font-size: 20px !important;
  letter-spacing: 1px;
  font-weight: 500 !important;
  padding-right: 2rem !important;
  padding-left: 1rem !important;
  font-family: 'Poppins';
  transition: transform 0.2s;
}

.nav-link:hover {
  color: #CCCCCC !important;
  transform: scale(1.2);
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 0rem !important;
    background-color: transparent !important;
  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }
  .responsive-navbar {
    height: auto;
    padding: 20px;
    width: 60%;
    border-radius: 20px;
    background-color: #4A403A;
  }
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Homepage */
.homepagebackground {
  height: 89.2vh;
  width: 100%;
  background-color: #4A403A;
  font-family: 'Nunito', sans-serif;  
}

.row {
  padding-top: 80px;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.headtext {
  padding-top: 190px;
  font-size: 2.4em !important;
  color: #FFF4F4 !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
  transform: translateX(1cm);
}

.text-container{
  padding-top: 55px;
}
.nametext {
  font-size: 2em !important;
  color: #FFF4F4 !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
  transform: translateX(1cm);
}

.namestext {
  font-size: 2.5em !important;
  color: #FFF4F4 !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
  transform: translateX(1cm);
}

.imagedeveloper {
  padding-top: 620px;
  margin-top: 65px;
  max-width: 500px;
  height: 500px;
  background-image: url(./Contactpage/contact.png);
  background-size: 100% auto; /* Adjust the size as needed */
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1.2);
}

.cv-button {
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  padding: 12px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  background-color: #7E6C61;
  color: #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: translateX(1cm);
  border-radius: 20%;
}

.cv-button:hover {
  background-color: #3e3632;
  transform: scale(1.1) translateX(1cm);
  
}

.cv-top {
  padding-top: 10px;
}

.cv-left {
  padding-left: 10px;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .homepagebackground {
    width: 100%;
    height: 100%;
  }
  .row {
    padding-top: 50px;
  }
  .headtext {
    padding-top: 100px;
    font-size: 2em !important;
    transform: none;
  }
  .nametext {
    font-size: 2.4em !important;
    transform: none;
  }
  .namestext {
    font-size: 2.2em !important;
    transform: none;
  }
  .cv-button {
    transform: none;
  }
}

/* Additional Responsive Styles */
@media only screen and (max-width: 767px) {
  .homepagebackground {
    height: auto;
  }
  .headtext,
  .nametext,
  .namestext {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .cv-top{
    text-align: center;
  }
}


/*footer*/

.footer {
background-color: #3e3632;
padding-top: 29px;
padding-bottom: 29px;
}

.footer p {
margin: 0;
font-size: 14px;
color: #fff
}

@media (max-width: 576px) {
.footer p {
  font-size: 12px;
}
}

/*About Page*/

.aboutpagebackground {
width: 100%;
height: 100%;
min-height: 100vh;
background-color: #4A403A;
padding-top: 50px;
}

.aboutdetails {
padding-top: 25px;
font-family: 'Nunito', sans-serif;
}


.socailmediabtn {
  margin-top: 1rem;
  margin-right: 1rem; /* Increase the margin between buttons horizontally */
  margin-bottom: 1rem; /* Increase the margin between buttons vertically */
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: transform 0.2s, background-color 0.3s, box-shadow 0.3s, opacity 0.3s;
}

@media (max-width: 768px) {
  /* Adjust the spacing for smaller screens */
  .socailmediabtn {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.socailmediabtn:hover {
  opacity: 1;
  transform: scale(1.2);
}

.icon{
  font-size: 50px;
}

.webimage {
  max-width: 500px;
  height: 500px;
  background-image: url(./Aboutpage/about.png);
  background-size: 100% auto; /* Adjust the size as needed */
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1.4); /* Increase the size by 120% */
}


@media (max-width: 767px) {
.aboutpagebackground {
  width: 100%;
  height: 100%;
}

.textbackground {
  display: block;
  margin: 0 auto;
}
}

.textbackground h1{
  color: #CCCCCC;
  font-size: 4rem;
  font-family: 'Nunito', sans-serif;
}

.textbackground p{
  color: #FFF;
  font-size : 1.8rem;
  font-family: 'Nunito', sans-serif;
}

.education h1{
  padding-top: 10px;
  font-size: 4rem;
  font-family: 'Nunito', sans-serif;
  color: #CCCCCC;
}

.education .box-container {
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
padding: 1rem 0;
padding-left: 3rem;
font-family: 'Nunito', sans-serif;
}

.education .box-container .box{
width:20rem;
margin:4rem 1rem;
padding-left: 4rem;
position: relative;
border-left: 3px solid white;
} 

.education .box-container .box span{
font-size: 1.5rem;
background: #222;
color:#fff;
border-radius: 5rem;
padding: .5rem 2.5rem;
}

.education .box-container .box h3{
font-size:2rem;
color:#fff;
padding-top:2.5rem;
}

.education .box-container .box h5{
font-size:1.7rem;
color:#eee;
padding-top:1.5rem ;
}

.education .box-container .box p{
font-size:1.4rem;
color:#eee;
padding:1rem 0;
}


.graduations-icon{
  position: absolute !important;
  top:-1.5rem !important;
  left:-1.97rem !important;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 4rem !important;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graduations-icon img {
  width: 40px;
  height: 50px;
  object-fit: contain;
}

/*contact page*/
.contact-page{
width: 100%;
height: 100%;
background-color: #4A403A;
font-family: 'Nunito', sans-serif;
}

.contact-page button,
.contact-page select {
text-transform: none;
}

.contact-page button,
.contact-page input,
.contact-page select,
.contact-page textarea {
color: white;
font: inherit;
margin: 0;
}

.contact-page input {
line-height: normal;
}

.contact-page textarea {
overflow: auto;
}

.contact-page #container {
border: none;
max-width: 768px;
margin: 60px auto;
position: relative;
}

.contact-page form {
padding: 37.5px;
margin: 50px 0;
}

.contact-page h1{
  padding-top: 30px;
  font-size: 50px;
  font-family: 'Nunito', sans-serif;

}

.contact-page .underline {
border-bottom: solid 2px white;
margin: -0.512em auto;
width: 80px;
transition: width 0.3s;
}

.contact-page input[type='text'],
.contact-page [type='email'],
.contact-page select,
.contact-page textarea {
  font-family: 'Nunito', sans-serif;
background: none;
border: none;
border-bottom: solid 2px white;
color: white;
font-size: 1.000em;
font-weight: 400;
letter-spacing: 1px;
margin: 0em 0 1.875em 0;
padding: 0 0 0.875em 0;
text-transform: uppercase;
width: 100%;
box-sizing: border-box;
transition: all 0.3s;
}

.contact-page input[type='text']:focus,
.contact-page [type='email']:focus,
.contact-page textarea:focus {
outline: none;
padding: 0 0 0.875em 0;
border-bottom-width: 3px;
}

.contact-page textarea {
  font-family: 'Nunito', sans-serif;
line-height: 150%;
height: 90px;
resize: none;
width: 100%;
}

.picture {
  max-width: 500px;
height: 500px;
background-size: 100% auto; /* Adjust the size as needed */
background-position: center;
background-repeat: no-repeat;
transform: scale(1.2);
}

.contact-page ::-webkit-input-placeholder {
color: white; /* Change placeholder color to white */
opacity: 0.5; /* Decrease placeholder opacity */
}

.contact-page :-moz-placeholder {
color: white; /* Change placeholder color to white */
opacity: 0.5; /* Decrease placeholder opacity */
}

.contact-page ::-moz-placeholder {
color: white; /* Change placeholder color to white */
opacity: 0.5; /* Decrease placeholder opacity */
}

.contact-page :-ms-input-placeholder {
color: white; /* Change placeholder color to white */
opacity: 0.5; /* Decrease placeholder opacity */
}

.send-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding-right: 10px;
  color: #fff;
}

.rocket-icon{
  color : white;
}

.contact-page .submit {
background: #7E6C61;
border: solid 2px #474544;
cursor: pointer;
display: inline-block;
font-family: 'Nunito', sans-serif;
font-size: 1.5em;
outline: none;
padding: 11px 18px;
text-transform: uppercase;
transition: all 0.3s;
border-radius: 20%;
}

.contact-page .submit:hover {
background: #3e3632;
transform: scale(1.1);
}

@media screen and (max-width: 768px) {
.contact-page #container {
  margin: 20px auto;
  width: 95%;
}
}

@media screen and (max-width: 480px) {
.contact-page h1 {
  font-size: 26px;
}
.contact-page .underline {
  width: 68px;
}
.contact-page #form_button {
  padding: 15px 25px;
}
}

@media screen and (max-width: 420px) {
.contact-page h1 {
  font-size: 18px;
}
.contact-page .underline {
  width: 53px;
}
.contact-page input[type='text'],
.contact-page [type='email'],
.contact-page select,
.contact-page textarea {
  font-size: 0.875em;
}
}

/*Skills*/
.skill-page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #4A403A;
  padding-top: 135px;
  }

  .skill-heading{
    color: #CCCCCC;
  font-size: 4rem;
  font-family: 'Nunito', sans-serif;
  }

  .skill-card{
    padding-top: 30px;
  }

  .skill-card body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    background-color: #333333;
  }
  
  .skill-card .container {
    flex-grow: 1;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .skill-card h2,h3{
    font-family: 'Nunito', sans-serif;
    color: #FFF;

  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    margin: 0;
    padding-top: 0;
    list-style: none;
  }
  
  .cards__item {
    height: 300px;
  }
  
  .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
      width: 50%;
      height: 100%;
      background-color: rgba(#ffffff, 0.1);
      pointer-events: none;
    }
    
    &:nth-child(1) {
      background-color: #362B2B;
    }
  }
  
  .card__frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .card__picture {
    position: relative;
    overflow: hidden;
    height: 100%;
  }

  .card__picture img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }  
  
  .card__title {
    margin: 0;
    font-size: 1.8rem;
    text-align: center;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(#000000, 0.2);
    transition: 0.5s;
    cursor: pointer;
    
    &::before {
      content: "Read";
      font-size: 12px;
      color: #CCCCCC;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.02em;
    }
    
    &:hover,
    &:focus {
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      box-shadow: none;
      border-radius: 0;
      opacity: 0.9;
      
      &::before {
        content: none;
      }
    }
    
    .card:nth-child(1) & {
      background-image: linear-gradient(45deg, #362B2B , #483C3C);
    }
  }

  .card__content {
    z-index: 1;
    padding: 20px;
    line-height: 1.4;
    opacity: 0;
    visibility: hidden;
    box-sizing: border-box;
    pointer-events: none;
    transition: 0s;
    
    .card__overlay:hover ~ & {
      opacity: 1;
      visibility: visible;
      transition: 0.2s 0.3s;
    }
    
    .card__content h2 {
      margin: 0;
      margin-bottom: 16px;
    }
  }

  @media (max-width: 768px) {
    .cards {
      grid-template-columns: repeat(1, 1fr); /* Change the number of columns to 1 */
    }
    
    .cards__item {
      height: 300px; /* Remove the fixed height */
    }
    
    .card {
      margin-bottom: 32px; /* Add margin-bottom to create a gap between cards */
    }
  }
  
  @media (max-width: 768px) {
    /* Styles for screens with a maximum width of 768px */
    .card__title {
      font-size: 25px; /* Adjust the font size as needed */
    }
  }
  
  @media (max-width: 576px) {
    /* Styles for screens with a maximum width of 576px */
    .card__title {
      font-size: 25px; /* Adjust the font size as needed */
    }
  }

  .time-line{
    padding-bottom: 50px;
  }

  .time-line h1{
    color: #CCCCCC;
    font-size: 4rem;
    font-family: 'Nunito', sans-serif;
  }

  .time-line body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #483C3C;
  }
  
  .time-line .title {
    font-size: 4rem;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
  
  .time-line h3 {
    padding-top: 0.25em;
    color: #FFF;
    font-family: 'Nunito', sans-serif;
  }
  
  .time-line .vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
      0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    padding: 2em 3em !important;
    background-color: #483C3C;

  }
  
  .time-line .date {
    color: white;
  }
  
  .time-line #description {
    margin: 1.5em 0 2em 0;
    color: #fff;
    font-family: 'Nunito', sans-serif;
  }
  
  @media only screen and (max-width: 1700px) {
    .time-line .vertical-timeline-element-date {
      display: block !important;
      float: none !important;
      color: white;
      margin-top: 1.5em;
    }
  }

  
/*Project*/
.project-page {
  width: 100%;
  height: 100%;
  background-color: #4A403A;
  padding-bottom: 50px;
}

.fixed {
  position: fixed;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bg-black {
  background-color: black;
}

.bg-opacity-25 {
  background-color: rgba(0, 0, 0, 0.25);
}

.backdrop-blur-sm {
  backdrop-filter: blur(4px) !important;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}



/* Add a new CSS class to blur the headings */
.blur h1,
.blur h3,
.blur h4,
.blur h5 {
  filter: blur(4px) !important;
  pointer-events: none;
}

.project-card{
  padding-bottom: 50px;
}

.project-heading h1{
  color: #CCCCCC;
  font-size: 4rem;
  font-family: 'Nunito', sans-serif;
  padding-top: 7.8rem;
}

@media (max-width: 768px) {
  .project-heading {
    padding-top: 5rem;
    text-align: center;
  }
}

/* Variables */

/* Global Styles */
*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

.project-card body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  
}

  .project-card figure {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    overflow: hidden;
    margin: 10px; /* Adjust the margin value to decrease the gap */
  }

.project-card figure:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.project-card figure:hover h1 {
  opacity: 0;
  transform: scale(0.7);
}

.project-card figure:hover img {
  transform: scale(1.25);
}

.project-card figure:hover figcaption {
  bottom: 0;
}

.project-card figure h1 {
  font-family: 'Nunito', sans-serif;
  position: absolute;
  top: 30px;
  left:0;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 30px !important;
  line-height: 1;
  opacity: 1;
  transform: scale(1);
  transition: 0.25s ease;
  z-index: 999;
  width: 200px;
  height: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  clip-path: polygon(
    0% 0,
    85% 0,
    100% 50%,
    85% 100%,
    0% 100%,
    0% 0%
);

}

.project-card figure img {
  width: 100%;
  height: auto;
  transition: 0.25s;
}

.project-card figure figcaption {
  position: absolute;
  bottom: -49%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 20px;
  background-color: #483C3C;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: white;
  line-height: 1;
  transition: 0.25s;
}

.project-card figure figcaption h3 {
  margin: 0 0 10px;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
}


/* Media Queries */
@media (min-width: 768px) {
  .project-card figure {
    max-width: 300px;
  }

  .project-card figure h1 {
    font-size: 40px;
  }

  .project-card figure figcaption {
    padding: 15px;
  }

  .project-card figure figcaption h3 {
    margin-bottom: 10px;
  }

  .project-card figure h3 {
    font-size: 18px;
  }

}

@media (min-width: 1024px) {
  .project-card figure {
    max-width: 300px;
  }

  .project-card figure h1 {
    font-size: 40px;
  }

  .project-card figure figcaption {
    padding: 40px;
  }

  .project-card figure figcaption h3 {
    margin-bottom: 20px;
  }
}

  
.project-card figure figcaption button {
  font-family: 'Nunito', sans-serif;
  padding: 10px 15px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #7E6C61;
  color: white;
  cursor: pointer;
  }

  .containers {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  }

  .center-our-solution {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .section_our_solution {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .section_our_solution .row {
    align-items: center;
  }
  
  .our_solution_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .our_solution_category .solution_cards_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  .solution_cards_box .solution_card {
    flex: 0 50%;
    background: #483C3C;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
      0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 8px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 265px;
    min-width: 265px;
    transition: 1s;
  }
  
  .solution_cards_box .solution_card:hover {
    background: #4A403A;
    color: #fff;
    transform: scale(1.1);
    z-index: 9;
  }
  
  .solution_cards_box .solution_card:hover::before {
    color:#4A403A;
  }
  
  .solution_cards_box .solution_card:hover .solu_title h3,
  .solution_cards_box .solution_card:hover .solu_description p {
    color: #fff;
  }
  
  .solution_cards_box .solution_card:before {
    content: "";
    position: absolute;
    width: 265px;
    height: 265px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
  }
  
  .solution_cards_box .solution_card:hover .solu_description button {
    background: #4A403A !important;
    color: #fff;
  }
  
  .solution_card .solu_title h2 {
    color: #CCCCCC ;
    font-family: 'Nunito', sans-serif;

  }
  
  .solution_card .solu_description p {
    color: #fff;
    font-size: 17px;
    margin-bottom: 15px;
    font-family: 'Nunito', sans-serif;

  }
  
  .solution_card .solu_description .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }
  
  .solution_card .solu_description button {
    border: 0;
    border-radius: 15px;
    background:  #483C3C;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
    margin-left: 10px;
  }
  
  .our_solution_content h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.3rem;
    font-family: 'Nunito', sans-serif;

  }
  
  .hover_color_bubble {
    position: absolute;
    background: #7E6C61;
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    
    transform: rotate(-31deg);
    left: -36rem;
    transition: 0.7s;
  }
  
  .solution_cards_box .solution_card:hover .hover_color_bubble {
    top: 0rem;
  }


.so_top_icon .top-right-btn {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  background-color: #483C3C !important;
}
   
  .solution_cards_box .solution_card .so_top_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url('../Components/Projects/GitHub-Mark.png'); */
  background-size: cover;
  background-position: center;
  }
  
  .solution_cards_box .solution_card .so_top_icon img {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }
  
  /*start media query*/
  @media screen and (min-width: 320px) {
    .sol_card_top_3 {
      position: relative;
      top: 0;
    }
  
    .our_solution_category {
      width: 100%;
      margin: 0 auto;
    }
  
    .our_solution_category .solution_cards_box {
      flex: auto;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .our_solution_category .solution_cards_box {
      flex: 1;
    }
  
    /* Responsive styles for .top-right-btn */
      .so_top_icon .top-right-btn {
        margin-top: 0;
        margin-right: 10px;
      }
  }
  
  @media only screen and (min-width: 1024px) {
    .sol_card_top_3 {
      position: relative;
      top: -3rem;
    }
    .our_solution_category {
      width: 50%;
      margin: 0 auto;
    }
    .so_top_icon .top-right-btn {
      margin-top: 0;
      margin-right: 10px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .solu_description .button-container {
      flex-direction: column;
      align-items: flex-end;
      margin-top: 0;
      margin-right: 10px;
    }
  
    .solu_description button {
      margin-top: 10px;
    }
  
    /* Responsive styles for .top-right-btn */
    .so_top_icon .top-right-btn {
      margin-top: 0;
      margin-right: 10px;
    }
  }

  .modal-open {
    overflow: hidden;
  }
  
